    /* ALL */

    @import 'scss/var.scss'
    @import 'scss/button.scss'

* {
    margin: 0;
    padding: 0;
}

    /* BODY */

    body {
        font-family: 'Karla', sans-serif;
        display: grid;
        width: 100%;
        margin: 0 auto;
        font-size: 16px;
    }


    /* BUTTON */

    .button1 {
        @include button($button-color1);
        padding: 20px 25px;
        margin-top: 20px;
        justify-self: center;
    }

    .button2 {
        @include button($button-color2);
    }
    .button3 {
        @include button($button-color1);
    }

    /* NAV */
  
    nav {
        display: grid;
        grid: {
            row: 1 / 2;
            template-columns: 3fr 1fr;
        }
        background-color: $background-color-dark;
        padding: 15px 30px;
        & ul {
            display: flex;
            flex-direction: row;
            padding-left: 125px;
        }
        & li {
            list-style: none;
            color: $link-color;
            padding-right: 30px;
        }
        & a {
            text-decoration: none;
                &:link {
                    color: $link-color;
                }
                &:visited {
                    color: $link-color;
                }
                &:hover {
                    color: $link-color;
                }
            }
        }
        .navHeader__logIn {
            grid: {
                row: 1 / 2;
                column: 2 / 3;
            }
                flex-direction: row;
                justify-content: flex-end;
                align-content: center;
            }
    /* HEADER */

    header {
        display: grid;
        grid: {
            row: 2 / 3;
            template-columns: repeat(3, 1fr);  
        }
        text-align: center;
        background-color: $background-color;
        color: $link-color;
        justify-content: center;
        align-content: center;
        padding: 45px 0;
        & h2 {
            margin-top: 15px;
            grid-column: 2 / 3;
            font-size: 30px;
        }
        & h1 {
            margin-top: 50px;
            grid-column: 2 / 3;
        }
        & p {
            grid-column: 2 / 3;
        }
    }

    /* SECTION */

    .firstSection {
        grid-row: 3 / 4;
        text-align: center;
        background-color: $link-color;
        padding: 15px 0;
    }

    .secondSection {
        grid-row: 5 / 6;
        text-align: center;
        background-color: $link-color;
        padding: 15px 0;
    }
    
    .thirdSection {
        grid-row: 6 / 7;
        background-color: $border-color-footer;
        padding: 150px 0;
    }
    
    .fourthSection {
        grid-row: 7 / 8;

        padding: 35px 0 100px 0;
        & ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }

    /* ASIDE */

    .main {
        display: grid;
        grid: {
            row: 4 / 5;
            template-columns: 50% 50%;
        }
        background-color: $background-color;
        padding: 2% 10% 5% 10%;
        color: $link-color;
        &.firstAside {
            grid-column: 1 / 2;
            justify-content: center;
            padding-right: 30px;
        }
        & h2 {
            padding-bottom: 15px;
            padding-top: 30px;
        }
        &.secondAside {
            grid-column: 2 / 3;
        }
    }

    /* FOOTER */

    footer {
        grid: {
            row: 8 / 9;
            template-columns: repeat(2, 1fr);
        }
        display: grid;
        background-color: $background-color-dark;
        padding-bottom: 20px;
        color: $link-color;
        & ol {
            display: flex;
            flex-direction: row;
            justify-items: flex-start;
            padding: 5px 5px;
            list-style: none;
        }
        & li:first-child {
            border: none;
        }
        & li {
            border-left: 1px dotted $border-color-footer;
            padding: 0 8px 0 8px; 
        }
        & p {
            grid-column: 2 / 3;
            justify-self: flex-end;
            align-self: center; 
            padding-right: 25px;
        }
        & a {
            text-decoration: none;
                &:link {
                    color: $link-color;
                }
                &:visited {
                    color: $link-color;
                }
                &:hover {
                    color: $link-color;
                }
            }
    }

